body, .main{
   
    height: 100vh;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
}

.header{
    background-color: rosybrown;
}

.footer{
    background-color: rosybrown;
}

.header img{
    width: 60px;
    height: 60px;
}

.footer img{
    width: 20px;
    height: 22px;
}